{% extends "misperris/base.html" %}

{% block title %} Edición Registros {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md4 offset-md-4">
            <h2>Edicion Registros</h2>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/editarPerros/">{% csrf_token %}                   
                        <div class="form-group">
                            <input type="text" id="codigo" name="codigo" value="{{perros.codigo}}" readonly class="form-control" placeholder="codigo" minlength="3" maxlength="6" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" value="{{perros.nombre}}" class="form-control" placeholder="nombre" minlength="3" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="raza_predominante" name="raza_predominante" value="{{perros.raza_predominante}}" class="form-control" placeholder="raza_predominante" minlength="4" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="descripcion" name="descripcion" value="{{perros.descripcion}}" class="form-control" placeholder="descripcion" minlength="0" maxlength="1000" required>
                        </div>
                        <div class="form-group">
                            <select id="estado" name="estado" value="{{perros.estado}}" class="form-control" placeholder="estado" required>
                              <option>Rescatado</option>
                              <option>Disponible</option>
                              <option>Adoptado</option>
                            </select>
                          </div>
                        <div class="form-group">
                            <button type="submit" class="btn-success btn-block text-white">Guardar</button> 
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}
