{% extends './base.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <br>
        <br>
      <h1 class="text-center">Quienes Somos?</h1>
      <br>
      <br>
      <p style="color: white" class="text-center">
        Somos una fundacion dedicada al <b>rescate</b> animal, funcionamos con
        donaciones anonimas y donaciones por registros de usuarios que
        mensualmente dan un abono a la fundacion para poder comprar insumos
        medicos y alimentarios para nuestros refugiados.
      </p>

      <p style="color: white" class="text-center">
        Ademas de esto, nos preocupamos por la recuperacion al 100% de
        nuestros peluditos y de encontrarles una familia dispuesta a seguir
        con los cuidados de estos y darles mucho amor. Nostoros como fundacion
        hacemos seguimiento a los inscriptores una vez se realiza la adopcion
        para verificar que nuestros amigos peludos hayan quedado en buenas
        manos.
      </p>
    </div>
{% endblock %}