{%extends "misperris/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Inicio Sesion | MisPerris{% endblock %}

{% block body %}

<!--Estilo para quitar bordes al login-->
<style>
    .card {
        border: none;
    }
</style>
<div class="container">
    <div class="card" style="background-color: #7f00b2;">
        <div class="card-body">
            <form action="" method="POST" class="form">
                {% csrf_token %}
                <div class="card mx-auto" style="width: 35rem;">
                    <div class="card-body">
                      <h5 class="card-title" text-align="center">Registro Usuario</h5>
                      {{ form | crispy }}
                      <br>
                        <div>
                            <button type="sbumit" class="btn btn-success btn-flat btn-block m-b-30 m-t-30">Registrar!</button>
                        </div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>          
</div>
{% endblock %}